DEPLOYER_PRIVATE_KEY=
RECEIPT_RELAYER=
ZERO_G_GALILEO_RPC_URL=https://evmrpc-testnet.0g.ai
ZERO_G_ARISTOTLE_RPC_URL=https://evmrpc.0g.ai
ZERO_G_GALILEO_CHAIN_ID=16602
ZERO_G_ARISTOTLE_CHAIN_ID=16661
ZERO_G_STORAGE_INDEXER_URL=https://indexer-storage-testnet-turbo.0g.ai
POSTGRES_URL=
REDIS_URL=
JWT_SECRET=
TAVILY_API_KEY=
OPENAI_API_KEY=
CHAINSCAN_GALILEO_API_KEY=
