node_modules
.pnpm-store
.next
dist
coverage
coverage.json
.env
.env.*
!.env.example
.vercel
.DS_Store
.turbo
cache
artifacts
typechain-types
*.tsbuildinfo
packages/contracts/deployments/*.local.json
.env*.local

.local/
